/* Add CSS Styling */
.impar{
    background-color: rgb(253, 167, 168);
    font-family: "Verdana", "DejaVu Sans", "sans-serif";
}

.size {
    font-size: 24px;
}

#unique {
    color: rgb(11, 36, 251);
    font-size: 36px;
}

#notunique {
    background-color: rgb(133, 253, 134);
    font-weight: bold;
}