/* Add CSS Styling */
.btn {
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', 'sans-serif';
}

.first {
    color: rgb(255, 255, 255);
    background-color: hsl(0, 0%, 0%);
}

.second {
    background-color: rgb(255, 255, 0);
}